/* @tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@import url('@/app/components/skeleton.css');

* {
  /* max-width: 1200px; */
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  padding: 5px;
  max-width: 1200px;
}

.banner > p,
.banner > h3 {
  text-align: center;
  padding: 20px;
}

.title {
  text-align: center;
}

form {
  margin: 5px;
}

input {
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
  font-size: 1rem;
  text-align: center;
}

.textbox {
  padding: 4px;
  margin: 10px auto;
  display: flex;
  border-radius: 15px;
  max-width: 800px;
}

.message {
  text-align: left;

  margin: 0;
}

button {
  margin: 0 auto 20px;
  padding: 10px 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(9, 7, 7);
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.avatar {
  border-radius: 100%;
  margin: 5px;
}

.Mike {
  background-color: rgb(215, 138, 138);
  color: white;
}

.Fran {
  background-color: rgb(134, 134, 215);
  color: white;
}

.Yorick {
  background-color: rgb(157, 215, 134);
  color: white;
}

.Jens {
  background-color: rgb(185, 134, 215);
  color: white;
}

.title {
  font-size: 3rem;
}

/* .audio-container {
} */

audio {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.loading-container {
  text-align: center;
  padding: 20px;
}

.loading-container > p {
  text-align: center;
  padding: 20px;
}
